body{
    font-family: 'Poppins', sans-serif;
    margin: 200px 0;
}

/* Section Features */

.features{
    background-color: #e7e7e7;
    padding: 100px 0;
}

.features .container{
    width: 1100px;
    margin: 0 auto;
}

.features header{
    text-align: center;
    padding-bottom: 45px;
}

.features header h1{
    font-size: 30px;
    font-weight: 700;
    color: #444;
    padding-bottom: 20px;
}

.features header h2{
    color: #777;
}

.features .row > * {
    display: inline-block;
    width: 33%;
}

.features .row>img{
    width: 25%;
    margin: 0px 75px 0px 10px;
    animation: up-down 5s infinite;
}

.features .row > ul:first-child{
    text-align: right;
}

.features .row ul h3{
    font-size: 18px;
    
    font-weight: 700;
    color: #444;
}

.features .row ul:nth-child(1) h3{
    padding: 30px 80px 10px 15px;
}
.features .row ul:nth-child(3) h3{
    padding: 30px 0px 10px 15px;
    text-align: left;
}

.features .row p{
    color: #777;
    padding: 20px 0 20px 20px;
    border: 2px solid #d1d1d1;
    transition: 0.5s;
    line-height: 22px;
    height: 95px;
    width: 278px;
}

.features .row ul:nth-child(1) p{
    border-right: none;
}
.features .row ul:nth-child(3) p{
    border-left: none;
    padding-right: 20px;
}

.features li:hover p{
    border-color: #005bea;
}

.features li::after{
    content: "";
    display: block;
    background-color: #e7e7e7;
    transform: translateY(-5px);
    width: 100%;
    height: 20px;
}

.features .row ul:nth-child(1) li:hover::after{
    width: 40%;
    margin-left: 60%;
    transition: 0.5s;
    transition-delay: 0.25s;
    padding-right: 1px;
}
.features .row ul:nth-child(3) li:hover::after{
    width: 40%;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.features li .iconLeft, .features li .iconRight{
    background-color: white;
    height: 44px;
    width: 44px;
    border-radius: 44px;
    text-align: center;
    line-height: 63px;
    }
.features li .iconLeft{
    transform: translateY(-161px) translateX(-20px);
    float: right;
}
.features li .iconRight{
    float: left;
    transform: translateY(-161px) translateX(-45px);
}
.features li .iconLeft:hover, .features li .iconRight:hover{
    background-color: #005bea;
    transition: 0.5s;
}

.features li .iconLeft:hover svg, .features li .iconRight:hover svg{
    fill:  white;
}

@keyframes up-down{
    0%{ transform: translateY(-20px); }
    50%{ transform: translateY(20px); }
    100%{ transform: translateY(-20px); }
}

/* ############################################################################## */
/* Section Pricing */

.pricing .container{
    width: 1140px;
    margin: 0 auto;
}

.pricing .heading {
    text-align: center;
    padding-bottom: 45px;
}

.pricing .heading>h1 {
    font-size: 28px;
    letter-spacing: -.06em;
    font-weight: 700;
    color: #444;
    padding-bottom: 14px;
    margin-top: 70px;
}

.pricing .heading>h2{
    color: #777;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.06em;
}

.pricing .row>div{
    display: inline-block;
    height: 475px;
    width: 255px;
    border: 1px #ddd solid;
}

.pricing .row>div:nth-child(2){
    background-color: #005bea;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.24);
}

.pricing .row>div:first-child{
    margin-left: 0px;
    margin-right: 28px;
}
.pricing .row>div:nth-child(3){
    margin-left: 28px;
}
.pricing .row>div:last-child{
    margin-left: 28px;
    margin-right: 0px;
}

.pricing .row>div>div{
    width: 203px;
    height: 423px;
    margin: 20px auto;
}

.pricing .row>div h4{
    font-size: 16px;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 15px;
    color: #444;
    text-align: left;
}
.pricing .row>div:nth-child(2) h4{
    color: #fff;
}

.pricing .row>div h3{
    font-size: 32px;
    font-weight: 700;
    color: #444;
    margin-bottom: 15px;
}
.pricing .row>div:nth-child(2) h3{
    color: #fff;
}
.pricing .row>div h3>span{
    font-size: 16px;
}

.pricing .row>div p{
    font-size: 13px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    color: #777;
}
.pricing .row>div:nth-child(2) p{
    color: #fff;
}

.pricing .row>div p+div{
    border-bottom: 1px solid #ddd;
    margin-bottom: 33px;
    margin-top: 50px;
}

.pricing .row li{
    display: block;
    position: relative;
    color: #333;
    margin-bottom: 10px;
    padding-left: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.pricing .row>div:nth-child(2) li{
    color: #fff;
}

.pricing .row li::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.pricing .row li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #25d25e;
    height: 23px;
    padding-right: 10px;
}

.pricing .row ul>li.basic_option::before{
    content: '\f00d';
    color: red;
}

.pricing .row ul+a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    line-height: 42px;
    
}

.pricing .row ul+a>div{
    border: 1px solid #005bea;
    height: 42px;
    width: 110px;
    border-radius: 60px;
    text-align: center;
    background-color: #005bea;
    margin-top: 30px;
    
}

.pricing .row ul+a>div:hover{
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.15);
    transition: all .5s;
}

.pricing .row>div:nth-child(2) ul+a>div{
    background-color: #fff;
    color: #333;
}